[package]
name = "timeline-cli"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
serde_json = "1.0"
timeline-core = { path = "../../timeline-core" }
timeline-fhir = { path = "../../timeline-fhir" }
