[package]
name = "timeline-fhir"
version = "0.1.0"
edition = "2021"
license = "Apache-2.0"

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
timeline-core = { path = "../timeline-core" }
